<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/jdayton23/" target="_blank">@jdayton23</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/jdayton3/" target="_blank">@jdayton3</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/jdayton3" target="_blank">linkedin.com/in/jdayton3</a></p>
<!--<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p>-->
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:jonathandayton23@gmail.com" target="_blank">jonathandayton23@gmail.com</a></p>
